<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Style</title>
</head>
<body>
	<div th:fragment="style">
		<title>Cloud Native Coffee: A Hopper Presentation</title>
    		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="navbar.css" rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
		<style type="text/css">
			body {
			  padding-top: 20px;
			  padding-bottom: 20px;
			}
			
			.navbar {
			  margin-bottom: 20px;
			}
		</style>
	</div>
</body>
</html>
