<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/style :: style"></head>
<body>
<div class="container">

    <form action="#" th:action="@{/}" th:object="${login}" method="post" class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" th:field="*{username}" id="inputUsername" class="form-control" placeholder="Username" required="true" autofocus="true"/>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" th:field="*{password}" id="inputPassword" class="form-control" placeholder="Password" required="true" autofocus="true"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div> <!-- /container -->
<th:block layout:fragment="scripts"></th:block>

</body>
</html>