<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/style :: style"></head>
<body>

    <div th:replace="fragments/menu :: menu"></div>

    <p>Order Page</p>
    <div th:if="${orderList != null}">
        <h1>List of Orders:</h1>
        <table>
        		 <tr><th>Order Name</th></tr>
        		<tr th:each="order : ${orderList}">
        			<td th:text="${order.userName}"></td>
        			<td>
	        			<table th:each="product : ${order.productList}">
	        				<tr>
	        					<th>Id</th>
	        					<th>Name</th>
	        					<th>Price</th>
	        				</tr>
	        				<tr>
	        					<td th:text="${product.id}"></td>
	        					<td th:text="${product.name}"></td>
	        					<td th:text="${product.price}"></td>
	        				</tr>
	        				<tr>
	        					<th>Id</th>
	        					<th>Name</th>
	        					<th>Price</th>
	        				</tr>
	        			</table>
        			</td>
        		</tr>
        </table>
    </div>
</body>
</html>