server:
  port: 8081
spring:
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:product
  rabbitmq:
    host: localhost
    port: 5672
flyway:
  clean-on-validation-error: true

security:
  ignored: /favicon.ico
  basic:
    enabled: false
---
spring:
  profiles: dev-postgres
  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/product_service_dataservice
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

server:
  port: 8082
---
spring:
  profiles: cloud